#indexView {
    .modal {
        width: 95% !important;
        height: 100% !important;

        .modal-footer {
            margin: 1em 1em 1em 0;
        }
    }

    .highlight tr {
        cursor: pointer;
    }

    header {
        nav {
            margin-bottom: 5em;

            nav {
                width: 25em;
                box-shadow: none;
                background-color: #d32f2f;
            }
        }
    }

    .brand-logo {
        float: left;
        font-size: 50px;
        margin-left: 10px;
        margin-right: 15px;
    }
}
