@model ProductViewer.WebUI.Models.ProductViewModel

<div class="container">
    <div class="row card" style="background-color: #fafafa">
        <a style="margin: 1em" onclick="history.back()" class="modal-close card-title waves-effect waves-light btn-flat"><i class="material-icons left">arrow_back</i>Back</a>
    </div>
    <div class="row" style="margin-top: 0em">
        <div class="col s12">
            <div class="card">
                <div class="card-image">
                    <img class="materialboxed" data-caption="@Model.ProductDescriptionEntityDescription" src="/images/placeholder.gif">
                    <span class="card-title">@Model.ProductEntityName</span>
                    <a data-position="right" data-tooltip="Add to cart..." class="btn-floating btn-large halfway-fab waves-effect waves-light green tooltipped"><i class="material-icons">add</i></a>
                    <a data-position="top" data-tooltip="Edit product..." style="margin-right: 5em" class="btn-floating halfway-fab waves-effect waves-light orange tooltipped"><i class="material-icons">edit</i></a>
                    <a data-position="left" data-tooltip="Delete product..." style="margin-right: 9em" class="btn-floating halfway-fab waves-effect waves-light red tooltipped"><i class="material-icons">delete</i></a>
                </div>

                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.tooltipped').tooltip();
        $('.materialboxed').materialbox();
    });
</script>